@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500|Roboto+Condensed:300,400,700&display=swap');

body{
  margin:0;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1;
}

main > * {
  display: none;
  width: 70%;
  margin:auto;
}

nav{
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px 15px 50px;
  margin-bottom: 20px;
  color: rgb(0, 195, 255);
  font-size: 20px;
  font-weight: 200;
  font-family: 'oswald', sans-serif;
}

nav ul{
  list-style: none;
  padding:0;
  margin:0;
}

nav li{
  margin: 10px;
  display: inline;
}

nav li:hover{
  cursor: pointer;
  border-bottom: 1.5px solid rgb(0, 195, 255);
}

nav .logo{
  margin:0;
  font-family: 'oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;

}

footer{
  background-color: black;
  color: white;
  font-weight: 200;
  text-align: center;
  padding: 20px;
  font-size: 15px;
  font-family: 'oswald', sans-serif;
}